<header class="head">
        <div class="logo">
            <div class="title">
                <div class="logo-box">
                    <p>ED</p>
                </div>
                <p><b>Election Dashboard</b></p>
                
            </div>
            <nav class="navbar">
                <a href="Dashboard.html">Dashboard</a>
                <a href="Parties.html">Parties</a>
                <a href="Candidates.html">Candidates</a>
                <a href="Constituencies.html">Constituencies</a>
            </nav>
        </div>
        
    </header>