
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* * {
    outline: 1px solid red;
} */

body {
    font-family: sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    background-color: rgb(41, 41, 41);
    height: 100vh;
    color: white;
    width: 20rem;
    padding: 10px;
}
.sidebar h3 {
    color: white;
    padding: 10px;
}

.sidebar a{
    text-decoration: none;
    color: rgb(206, 204, 204);
    padding: 10px;
    display: block;
}

.sidebarLinks div{
    display: flex;
    align-items: center;
}

.billione {
    background-color: rgb(22, 179, 179);
    padding: 4px;
    margin-right: 10px;
}
.header {
    width: 100rem;
    background-color: rgb(22, 179, 179);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileSection {
    display: flex;
    gap: 20px;
    align-items: center;
}

.main {
    background-color: rgb(241, 241, 242);
}

.top {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.time-filter {
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.searchBar {
    border-radius: 20px;
    border-color: transparent;
    padding: 10px;
    background-color: rgb(95, 212, 212);
    
}

.searchBar::placeholder {
    color: rgb(255, 249, 249);
}

