<header class="head">
        <div class="logo">
            <div class="title">
                <p><b>Election Dashboard</b></p>
                <!-- <p>india</p> -->
            </div>
            <nav class="navbar">
                <a href="Dashboard.html">Dashboard</a>
                <a href="Parties.html">Parties</a>
                <a href="#candidates">Candidates</a>
                <a href="#constituencies">Constituencies</a>
            </nav>
        </div>
        <div>
            <input type="text" placeholder="search Parties, Constituencies" class="search-bar">
        </div>
    </header>